<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.thirsty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Successful_login" />
        <activity android:name=".Bad_login" />
        <activity android:name=".Registration_screen1" />
        <activity android:name=".Update_password" />
        <activity android:name=".Update_email" />
        <activity android:name=".WelcomeScreenLoggedIn" />
        <activity android:name=".SubmitWaterSourceReport" />
        <activity android:name=".UserReportView"></activity>
    </application>

</manifest>